<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <title>Don't forget your umbrella</title>

   <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/umbrella.png">


</head>

<body>
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 1%">
        <h2 style="margin-left: 10%">Text 678-607-8732 for current San Francisco weather and estimated rainfall</h2>
        <img src="/static/Cat_rain.jpg" class="img-responsive" alt="Responsive image" style="margin-left: 25%">
        <ul style="margin-left: 25%">
          <li>Version 2.0 will:</li>
            <ul>
              <li>Incorporate datetime to automatically check for rain at a specified hour</li>
              <li>Text the user if they should carry an umbrella</li>
              <li>Allow the user to specify the city and weather they want monitored</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>


</body>
</html>


